body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #242424;
}

.app-container,
.app2-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.app-container {
  background: #ffffff;
  z-index: 1;
}

.app2-container {
  background: #ff8c00;
  color: white;
  z-index: 0;
}

.portal {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000;
  overflow: hidden;
  background: url('./App2Background.jpg') no-repeat;
  background-size: cover;
  z-index: 10;
  cursor: grab;
}
