.orange-bg {
  background-color: orange;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-bg {
  background-color: yellow;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
